<div class="logo">[Reclaim The Records](https://archive.org/nycmarriageindex) presents</div>

Join us in transcribing early 20th century marriage registers containing indexes of brides and grooms who applied for marriage licenses in New York City. These unique documents reveal the lives and dreams of people who helped create modern New York. Help unlock a vital piece of history!  

<a class="major-button" href="/#/intro">Get Started!</a>

----
