<div class="scribe-footer-credits marriages-footer-credits">
  <div>
    <p>NYC Marriages is a collaboration between
      <a href="http://www.reclaimtherecords.org">Reclaim the Records</a>
      and <a href="https://archive.org">The Internet Archive</a>
      with generous support from:</p>
    <p>A sponsor to be named later. You? </p>
    <p>&copy; The NYC Marriages development team</p>
  </div>
</div>
<div class="marriages-footer-links">
  <div>
    <a href="http://example.com">Privacy Policy</a>
    <a href="http://example.com">Terms and Conditions</a>
  </div>
</div>
